ul li {
    list-style: none;
}

.logo{
    width: 116px;
    height: 60px;
    margin-left: 100px;
}

.headerBandeau{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 9998;
}

.headerSpan{
    font-size: 35px;;
}