@media all and(max-width: 600px){
    .shoppingCartIcon{
        font-size: 1.8rem;
    }

    .rightIconsDiv{
        width: 19%;
    }

    .centerDiv{
        width: 70%;
    }

    .headerSpan{
        font-size: 2.2rem;
    }
}

@media all and(min-width:601px){
    .shoppingCartIcon{
        font-size: 2.5rem;
    }

    .centerDiv{
        width: 80%;
    }

    .rightIconsDiv{
        width: 9%;
    }

    .headerSpan{
        font-size: 2.5rem;;
    }
}

ul li {
    list-style: none;
}

.logo{
    width: 5rem;
    height: 3rem;
}

.logoDiv{
    cursor: pointer;
}

.headerBandeau{
    background-color: #303030;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 13vh;
}

.stickyHeader{
    position: fixed;
    top: 0;
    z-index: 1;
}

.rightIcons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 0;
}

.rightIconsDiv{
    padding-left: 0.3rem;
}

.leftIcons{
    //background-color: blue !important;
    width: 10%;
}

.shoppingCartButon{
    cursor: pointer;
}