ul li {
    list-style: none;
}

.logo{
    width: 5rem;
    height: 3rem;
}

.headerBandeau{
    background-color: #303030;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.stickyHeader{
    position: fixed;
    top: 0;
}

.headerSpan{
    font-size: 2.5rem;;
}

.rightIconsDiv{
    //background-color: red !important;
    width: 10%;
}

.rightIcons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.leftIcons{
    //background-color: blue !important;
    width: 10%;
}

.centerDiv{
    //background-color: green !important;
    width: 80%;
}