<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
<mat-icon>mrnu</mat-icon>
        </button>

        <span>APP LOGO</span>
        <div fxFlex fxLaout="row" fxLayoutAlign="flex-end">
            <ul>
                <li>
                    <button mat-icon-button>
                        <mat-icon>setting</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>aide en ligne</mat-icon>
                    </button>
                </li>
                <li>
                     <button mat-icon-button>
                         <mat-icon>help_outline</mat-icon>
                     </button>
                     menu
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
