.pickUpHourButton{
    background-color: rgb(222, 222, 222);
    border: none;
    color: black;
    outline: none;
    font-size: 15px;
    padding: 5px 1.5rem;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 1.3rem;
    margin-top: 0.5rem;
}

.goBackButton{
    cursor: pointer;
    border-radius: 4px!important;
    background-color: #4A4A4A;
    border-color: #4A4A4A;
    color: #fff;
    width: 200px;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

.infosDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 35%;
    background-color: red;
}

.orderDiv{
    width: 35%;
    margin-left: 0.7%;
    background-color: blue;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.topButtonsDiv{
    display: flex;
    flex-direction: column;
    margin-left: 14.65%;
}

.gobackLibelle{
    margin-left: 20%;
    font-size: 1rem;
}