<div class="validationContainer mainDiv">
    <div class="topButtonsDiv">
        <div class="labelDiv">
            <button class="pickUpHourButton"><span class="bold">Aujourd'hui</span> : 13h30</button>
        </div>
        <div class="gobackDiv" (click)="goBackToHomePage()">
            <button mat-icon-button class="goBackButton"><mat-icon>keyboard_arrow_left</mat-icon> <span class="gobackLibelle" >Retour</span></button>
        </div>
    </div>
    <div class="container">
        <div class="infosDiv">
            <div class="personalInfoDiv">
                <div class="title half-bold">Informations personnelles</div>
                <div class="persoInformations">
                    <input name="persoDetails">
                </div>
            </div>
            <!-- <div class="pickUpDiv"><mat-icon>shopping_cart</mat-icon> Votre commande</div> -->
        </div>
        <div class="orderDiv">
            <div class="separator-blocks"></div>
            <div class="orderDivHeader half-bold"><!--<mat-icon>shopping_cart_outline</mat-icon>--><span class="orderDivName">Votre commande</span></div>
            <app-cart-rows (totalPriceEvent)="setTotalPrice($event)"></app-cart-rows>
            <div class="totalDiv">
                <div class="leftTotal">Total</div>
                <div class="rightTotal bold">{{ totalAmount | currency:'EUR' }}</div>
            </div>
        </div>
    </div>
</div>
