<div class="validationContainer mainDiv">
    <div class="topButtonsDiv">
        <div class="labelDiv">
            <button class="pickUpHourButton"><span class="bold">Aujourd'hui</span> : 13h30</button>
        </div>
        <div class="gobackDiv" (click)="goBackToHomePage()">
            <button mat-icon-button class="goBackButton btn"><mat-icon>keyboard_arrow_left</mat-icon> <span class="gobackLibelle" >Retour</span></button>
        </div>
    </div>
    <form class="container" [formGroup]="validOrderForm" (ngSubmit)="onSubmit()" >
        <div class="infosDiv">
            <div class="personalInfoDiv">
                <div class="orderDivHeader half-bold"><span class="orderDivName">Informations personnelles</span></div>
                <div class="persoInformations">
                    <div class="formGroupDiv">
                        <div>
                            <input readonly value="{{user.FirstName}} {{ user.LastName}}" id="fullNameInput" placeholder="Nom complet" type="text">
                        </div>
                        <div class="phoneDiv">
                            <input formControlName="phoneNumber" placeholder="Numéro de téléphone" type="text">
                            <mat-error *ngIf="phoneNumber.touched && phoneNumber.invalid">Veuillez saisir un numéro de téléphone valide.</mat-error>
                        </div>
                    </div>
                    <div class="emailDiv">                   
                        <input formControlName="email" type="email" id="emailInput" placeholder="Adresse email">
                        <mat-error class="emailErrorMessage" *ngIf="email.touched && email.invalid">Veuillez saisir une addresse email valide.</mat-error>
                    </div>
                </div>
            </div>
            <!-- <div class="payment">
                <div class="orderDivHeader half-bold"><span class="orderDivName">Moyen de paiement</span></div>
                <span>Paiment sur place</span>
            </div> -->
            <div class="confirmOrderDiv">
                <div class="generalConditionsDiv">
                    <div>                      
                        <input type="checkbox" class="agreeGeneralTerms" formControlName="agree">
                        <span>En cochant cette case, je reconnais avoir pris connaissance des Conditions Générales de vente</span>
                    </div>
                    <mat-error *ngIf="agree.invalid && submitted" >Veuillez cocher la case afin d'accepter les condtions générales de ventes.</mat-error>
                </div>
                <button id="validOrder" class="btn" type="submit" >Valider</button>
            </div>
            <!-- <div class="pickUpDiv"><mat-icon>shopping_cart</mat-icon> Votre commande</div> -->
        </div>
        <div class="orderDiv">
            <!-- <div class="separator-blocks"></div> -->
            <div class="orderDivHeader half-bold"><!--<mat-icon>shopping_cart_outline</mat-icon>--><span class="orderDivName">Votre commande</span></div>
            <app-cart-rows (totalPriceEvent)="setTotalPrice($event)"></app-cart-rows>
            <div class="totalDiv">
                <div class="leftTotal bold">Total</div>
                <div class="rightTotal bold">{{ totalAmount | currency:'EUR' }}</div>
            </div>
            <div class="commentContainer">
                <div class="commentTitle bold">Commentaire</div>
                <div class="commentTextDiv">
                    <textarea formControlName="comment" autocomplete="off" placeholder="Commentaire" id="commentArea" rows="2"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
