.pickUpHourButton{
    background-color: rgb(222, 222, 222);
    border: none;
    color: black;
    outline: none;
    font-size: 15px;
    padding: 5px 1.5rem;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 1.3rem;
    margin-top: 0.5rem;
}

.goBackButton{
    display: flex;
    align-items: center;
}

.btn{
    cursor: pointer;
    border-radius: 4px!important;
    background-color: #4A4A4A;
    border-color: #4A4A4A;
    color: #fff;
    width: 200px;
    height: 2.5rem;
}

.infosDiv{
    display: flex;
    width: 35%;
    background-color: #fff;
    flex-direction: column;
}

.orderDiv{
    width: 35%;
    margin-left: 0.7%;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.topButtonsDiv{
    display: flex;
    flex-direction: column;
    margin-left: 14.65%;
}

.gobackLibelle{
    margin-left: 20%;
    font-size: 1rem;
}

.orderDivHeader{
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infosDiv > div > .orderDivHeader {
    margin-top: 20px;
    margin-bottom: 20px;
}

.orderDiv > .orderDivHeader{
    padding-top: 20px;
    padding-bottom: 20px;
}

.orderDivName{
    font-family: Titillium Web,AvenirNextDemiBold,Avenir,Helvetica,Arial,sans-serif;
    color: #444;
}

.separator-blocks{
    width: 100%;
    height: 2px;
    background: #ececec;
}

.totalDiv{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 16px 16px 16px 0px;
}

.commentContainer{
    display: flex;
    flex-direction: column;
    background: #fff;
    padding-top: 1rem;
}

#commentArea{
    width: 96%;
    height: 4.5rem;
    display: block;
    resize: vertical;
    padding: 5px 2%;
    line-height: 1.5;
    font-size: inherit;
    color: #606266;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
}

.leftTotal{
    width: 85%;
    font-size: 18px;
}

.rightTotal{
    width: 13%;
}

.commentTitle{
    font-size: 18px;
}

.formGroupDiv{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 95%;
    align-self: center;
    height: 2.5rem;
}

.formGroupDiv > div{
    width: 50%;
}


.formGroupDiv > div > input{
    line-height: 1.8rem;
}

.formGroupDiv > div:first-child > input {
    width: 95%;
}

.formGroupDiv > div:nth-child(2) > input {
    width: 97%;
}

.mat-error{
    font-size: 0.8rem;
}

#emailInput, .payment > span, .emailErrorMessage{
    line-height: 1.8rem;
    width: 94%;
    align-self: center;
}

.emailDiv, .phoneDiv{
    display: flex;
    flex-direction: column;
}

.emailDiv{
    height: 2.3rem;
}

#fullNameInput{
    text-transform: capitalize;
}

.persoInformations, .payment, .confirmOrderDiv{
    display: flex;
    flex-direction: column;
}

#validOrder{
    align-self: center;
    width: 50%;
    font-size: 1.1rem;
}

.agreeGeneralTerms{
    cursor: pointer;
}

.generalConditionsDiv{
    margin: 1.5rem 0 1.5rem 0;
    display: flex;
    flex-direction: column;

    div{
        justify-content: center;
        span{
            font-size: 14px;
        }
    }
}