<div class="cartContainer">
    <div class="headerDialog">
        <h1 mat-dialog-title>Ma commande</h1>
        <button mat-icon-button class="closeDialogButton" (click)="closeDialog()">
            <mat-icon id="close-icon">close</mat-icon>
        </button>
    </div>
    <div class="vertical-middle">
        <img src="/assets/images/watermelon.gif" alt="panier vide">
        <div class="emptyCartDiv">
            <div class="dark-title center">Votre panier est vide</div>
            <div class="emptyCartDescription center">Découvrez notre carte interactive et visuelle</div>
        </div>
        <button>C'est parti !</button>
    </div>
    <div class="cartActions" mat-dialog-actions>
        <button id="confirmOrder">Passer la commande</button>
    </div>
</div>
