.headerDialog{
    display: flex;
    flex-direction: row;
    background-color: powderblue;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
}

.closeDialogButton{
    cursor: pointer;
}

.itemCart{
    display: flex;
    flex-direction: column;
}

.itemCartCounter{
    display: flex;
    flex-direction: row;
}

.itemCartContent{
    display: flex;
    flex-direction: row;
}

.pointer{
    cursor: pointer;
}

.itemCartPhoto{
    width: 20%;
    height: 5rem;
}

#confirmOrder{
    width: 25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    color: white;
    background: rgb(118, 120, 204) none repeat scroll 0% 0%;
    height: 3.4rem;
}

.cartActions{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.mat-dialog-container{
    position: relative;
}

.vertical-middle{
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}