.itemCart{
    display: flex;
    flex-direction: column;
}

.itemCartCounter{
    display: flex;
    flex-direction: row;
}

.itemCartContent{
    display: flex;
    flex-direction: row;
}

.pointer{
    cursor: pointer;
}

.itemCartPhoto{
    width: 20%;
    height: 5rem;
}

.vertical-middle{
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middleContainer:not(.notFromCart){
    margin-bottom: 95px;
}

.middleContainer{
    align-items: center;
    flex-direction: column;
}

.middleContainer.noMargin{
    margin-bottom: 0;
}

.flex{
    display: flex;
}

.basket-product {
    width: 100%;
    min-height: 40px;
    background: #fff;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding: 8px 16px 8px 16px;
    display: flex;
}

.nopadding{
    padding: 8px 0 8px 0;
}

.itemPhoto{
    max-width: 30%;
    padding-left: 0.4rem;
}

.itemPhoto > img{
    border-radius: 8px;
}

.itemDescription{
    font-size: 16px;
    font-weight: 700;
}

.cartButton{
    display: flex;
}

.basket-container{
    display: flex;
}

.basketContainer{
    display: flex;
    width: 100%;
}

.itemPrice{
    width: 13%;
    align-self: center;
}

.itemDescriptionBloc{
    width: 85%;
}
.itemDescriptionBloc > div:not(:last-child) {
    margin-bottom: 0.4rem;
}

.buttonCart > mat-icon {
    color: #888;
}

.notFromCart.itemDescriptionBloc{
    padding-left: 1rem;
}