<div class="cartContainer">
    <div class="headerDialog">
        <h1 mat-dialog-title>Ma commande</h1>
        <button mat-icon-button class="closeDialogButton" (click)="closeDialog()">
            <mat-icon id="close-icon">close</mat-icon>
        </button>
    </div>
    <app-cart-rows (hasCartItemEvent)="setHasCartItems($event)" (totalPriceEvent)="setTotalPrice($event)" [isFromBasket]="true"></app-cart-rows>
    <div *ngIf="hasCartItems" class="cartActions" mat-dialog-actions>
        <div class="totalAmountDiv">
            <div class="totalAmountText">Montant total</div>
            <div class="totalAmountPrice bold"> {{ totalPrice | currency: 'EUR' }}</div>
        </div>
        <button (click)="confirmOrder()" id="confirmOrder">Passer la commande</button>
    </div>
</div>
