@media all and (max-width:500px){
    .foodCategories > a{
        font-size: 0.65rem;
    }
    .foodCategories:not(:first-child){
        margin-left: 0.65rem;
    }

    .categories-menu{
        padding-left: 0;
    }

    .referenceCount{
        font-size: 0.8rem;
    }

    .itemDescriptionLabel{
        line-height: 1rem;
    }
}

@media all and(min-width:501px) and(max-width:654px){
    .foodCategories{
        margin-left: 0.8rem;
    }

    .categories-menu{
        padding-left: 0;
    }

    .foodCategories > a{
        font-size: 0.8rem;
    }

    .referenceCount{
        font-size: 1rem;
    }
}

@media all and(min-width:655px){
    .foodCategories{
        margin-left: 2rem;
    }

    .itemDescriptionLabel{
        line-height: 1.2rem;
    }
}

.mainDiv{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 50%;
    background-color: rgb(249, 249, 249);// rgb(235, 228, 213);
    background-image: url("/assets/images/KayCafetHomeBackground-min.png");
    background-attachment: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menuDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 87%;
}

.categoriesDiv{
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.categories-menu {
    display: flex;  
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    list-style-type: none;
    margin-top: 2rem;
 }

.inner-container{
    width: 60%;
}

.foodCategories{
    cursor: pointer;
    border-radius: 5px;
}

.foodCategories:hover{
    background: #ececec;
}

.cart{
    background-color: white;
    width: 20%;
    height: 50rem;
    overflow-y: scroll;
    margin-left: 10%;
    display: none;
    float: right;
    top: 0;
    bottom: 0;
}

.cartTitle {
    height: 100px;
    background-color: #fff;
    display: flex;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    flex-direction: column;
}

.cartItem{
    width: 100%;
    min-height: 80px;
    background: #fff;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: yellowgreen;
}

.inner-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.itemsCategory{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 0.5rem;
}

.item{
    width: 22rem;
    color: #444;
    background-color: white; //rgb(235, 228, 213);
    height: 8rem;
    margin-top: 0.5rem;
    border-radius: 0.4rem;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.12);;
}

.categoryTitle{
    margin-top: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

img{
    max-width:100%;
    max-height:100%;
}

.stickyMenu{
    position: fixed;
    background-color: rgb(249, 249, 249);
    width: 100%;
    border-bottom: 1px solid #ececec;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.02);
}

.referenceCount{
    margin-left: 8px;
}

.addItemButton{
    border-radius: 4px;
    background: rgb(74, 74, 74);
    font-weight: 600;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.06);
    min-width: 116px;
    height: 32px;
    position: relative;
    transition-duration: .2s;
    cursor: pointer;
    margin: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.itemPriceBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemDescriptionBloc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.itemPrice{
    align-self: flex-end;
    margin: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.itemDescription{
    margin-top: 1rem;
    margin-left: 0.4rem;
}

.itemDescriptionLabel{
    opacity: 0.9;
    text-overflow: ellipsis;
    width: 95%;
    line-height: 1.2rem;
    height: 48px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-left: 0.4rem;
    font-size:0.8rem !important;
}