
<div class="mainDiv" (scroll)="onWindowScroll($event);">
    <div id="categories" class="categoriesDiv">
        <ul class="categories-menu">
            <li *ngFor="let familyName of familyNames" (click)="scrollTo(familyName)" class="foodCategories"><a class="capitalize">{{familyName}}</a></li>
        </ul>
    </div>
    <div class="menuDiv">
        <div class="inner-container">
            <div *ngFor="let family of productFamilies" id="{{ family.FamilyName }}">
                <div class="categoryTitle"><span class="capitalize title-bigger">{{ family.FamilyName }}</span><span class="text-underline referenceCount">{{ family.Products.length}} références</span></div>
                <div class="itemsCategory">
                    <div *ngFor="let product of family.Products" class="item">
                        <div *ngIf="product.Photo" class="itemPhoto center-vertical"><img src="{{product.Photo}}" alt="{{product.Name}}"></div>
                        <div class="itemDescriptionBloc fullwidth">
                            <div class="itemDescription text-title-regular capitalize">{{ product.Name}}</div>
                            <div class="itemDescriptionLabel text-underline capitalize">{{ product.Description }}</div>
                            <div class="itemPriceBlock">
                                <div class="itemPrice">{{ product.UnitPrice | currency:currency }}</div>
                                <div class="cartButton">
                                    <button id="decrementCart" class="buttonCart" (click)="removeProduct(item)" ><mat-icon>remove</mat-icon></button>
                                    <div class="cartItemcount">5</div>
                                    <button id="incrementCart" class="buttonCart" (click)="addProduct(item)" ><mat-icon>add</mat-icon></button>
                                </div>
                                <button *ngIf="1 == 2" (click)="addProduct(product)" class="addItemButton">Ajouter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>