
    <!-- <div flxLayout="row" class="filterDiv">
      <nav>
        <div data-content="location" class="listdata location">location</div>
      </nav>
      <mat-form-field fxFlex fxLayoutAlign="end start" appearance="fill">
        <input matInput>
        <mat-label>Heure de récupération</mat-label>
        <mat-select [value]="-1" class="pickupTimeSelect">
          <mat-option [value]="-1">Toutes</mat-option>
          <mat-option *ngFor="let pickUpTime of pickUpTimes" [value]="pickUpTime">
            {{pickUpTime}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>  -->

          <table mat-table [dataSource]="dataSource">

            <!-- CommandNumber Column (tous les jours les numéros de commandes sont remis à zéro)-->
            <ng-container matColumnDef="commandNumber">
                <th mat-header-cell *matHeaderCellDef> No. de commande </th>
                <td mat-cell *matCellDef="let element"> {{element.commandNumber}} </td>

            </ng-container>

            <!-- Composition Column -->
            <ng-container matColumnDef="composition">
                <th mat-header-cell *matHeaderCellDef> Commande </th>
                <td mat-cell *matCellDef="let element"> {{element.composition}} </td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Montant </th>
                <td mat-cell *matCellDef="let element"> {{element.price | currency : 'EUR'}} </td>
            </ng-container>

            <!-- User name Column -->
            <ng-container matColumnDef="userName">
              <th mat-header-cell *matHeaderCellDef> Utilisateur </th>
              <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
            </ng-container>

            <ng-container matColumnDef="pickUpDeliveryTime">
              <th mat-header-cell *matHeaderCellDef> Récupération </th>
              <td mat-cell *matCellDef="let element"> {{element.orderPickUpTime | date:'HH:mm'}} </td>
          </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td class="tooltip" mat-cell *matCellDef="let element"> 
                  <span class="tooltiptext">{{element.status == orderStatus.untreated ? 'Non traitée' : 'Traitée' }}</span>                  
                  <svg viewBox="0 0 80 80" width="15" height="15">
                  <circle class="{{element.status == orderStatus.untreated ? 'untreated' : 'treated' }}" cx="40" cy="40" r="38"/>
                </svg>
              </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                <button class="matIconButton tooltip" mat-icon-button>
                  <span class="tooltiptext">Préparée</span>    
                  <mat-icon class="colorGreen">done</mat-icon>
                </button>
                <button class="matIconButton tooltip" mat-icon-button>
                  <span class="tooltiptext">Récupérée</span>
                  <mat-icon>directions_run</mat-icon>
                </button>
                <button (click)="openConfirmRefuseOrderDialog(element.userName)" class="matIconButton tooltip" mat-icon-button>
                  <span class="tooltiptext">Refuser la commande</span>    
                  <mat-icon color="warn">block</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>