:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer{
    width: 350px;
}

mat-drawer-container{
    height: 100%;
    background-color:#eef5f9;
}

mat-drawer-content{
    padding: 20px;
}